*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #111;
	font: 300 12px/1 "Open Sans", sans-serif;
}
/*RESET START*/
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
}
ul, ol{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
img{
	max-width: 100%;
}
input, textarea, button{
	outline: none;
	border: none;
}
textarea{
	resize: vertical;
}
button{
	cursor: pointer;
}
/*DEFAULT CLASSES START */
.border-top{
	border-top: 1px solid #ececec;
}
.grey-bg{
	background-color: #f8f8f8;
}
/*DEFAULT CLASSES  END */

@media (max-width: 1024px){

}
@media (max-width: 991px){

}
@media (max-width: 767px){

}

/*DEFAULT COMPONENT STYLE */
.default-section{
	padding: 140px 0;
}
.small-section{
	padding: 70px 0;
}
.title{
	font: 400 18px/1 'Dosis', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	margin-bottom: 75px;
}
.title.color-white{
	color: #fff;
	letter-spacing: 0.3em;
}
.title.text-light{
	font-weight: 300;
}
/*я дописала еще по дефолту */
.text-info{
	margin-top: 11px;
	color: #aaa;
	font-size: 11px; 
}
.font-icon{
	display: inline-block;
	position: relative;
	top:-5px;
	height: 25px;
	width:35px;
}
.font-icon::before{
	position: absolute;
	content: '';
	height: 25px;
	width: 25px;
	transform: translateX(21%) rotate(45deg);
	background-color: #111;
}
.font-icon i.fa{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	color: #fff;
	font-size: 14px;
}
blockquote{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 24px;
	color: #777;
	line-height: 1.6;
}
blockquote span {
	font-size: 11px;
	font-weight: 400;
}
.text-section{
	font-size: 15px;
	line-height: 1.73;
}
.btn{
	padding: 10px 40px;
	letter-spacing: .2em;
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
}
.btn:active:focus,
.btn:focus{
	outline: none;
}
.btn.btn-default{
	background-color: rgba(255, 255, 255, .8);
}
.btn.btn-default:hover{
	background-color: #999;
}
.btn.btn-dark{
	background-color: #323232;
	color: #fff;
}
.btn.btn-dark:hover{
	background-color: #525252;
}
.btn.btn-xs {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 7.5px 13px;
    font-size: 11px;
}
.form-group{
	margin-bottom: 10px;
}
.form-control{
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: .2em;
	height: 40px;
	border-radius: 2px;
	border-color: #dfdfdf;
	box-shadow: none;
}
.form-control:focus{
	box-shadow: none;
	border-color: #bfbebe;
}
textarea.form-control{
	min-height: 90px;
	resize: vertical;
}
.navbar-toggle{
	margin: 0;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
@media(max-width: 991px){

	.default-section {
    	padding: 70px 0;
	}
}
@media(max-width: 767px){
	.title{
		font: 400 16px/1 'Dosis', sans-serif;
		letter-spacing: 0.3em;
		margin-bottom: 45px;
	}
	.btn{
		display: block;
		width: 30%;
		margin: 0 auto;
		font-size: 12px;
	}
	blockquote{
		font-size: 18px;
		line-height: 1.3;
	}
	.text-section{
		font-size: 12px;
		line-height: 1.73;
	}
	p{
		margin-bottom: 10px;
	}
}
/*DEFAULT COMPONENT STYLE END */

/*HEADER STYLE START*/
.header{
	background-color: #131313;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	padding: 30px;
}
.logo{
	float: left;
}
.header-nav{
	color: #fff;
	font-size: 11px;
	letter-spacing: 3.3px;
	text-transform: uppercase;   
	float: right;
}
.header-nav li{
	display: inline-block;
	line-height: 21px;
}
.header-nav li + li{
	margin-left: 33px;
}
@media (max-width: 1024px){

}
@media (max-width: 991px){
	.header {
		padding: 15px;
	}
	.header-nav {
		font-size: 10px;
		letter-spacing: 1.3px;
	}
}
@media(max-width: 767px){
	.header-nav{
		position: absolute;
		top: 100%;
		left:0;
		right: 0;
		z-index: 999;
		background-color: rgb(0, 0, 0);
		padding: 20px 0;
	}
	.header-nav li{
		display: block;
		text-align: right;
		padding: 10px 35px;
	}
	.container-fluid>.navbar-collapse{
		margin: 0;
	}
}
/*HEADER STYLE END*/
/*MAIL STYLE START*/

.inner{
	padding-top: 71px;
	background-color: #131313;
	height: 100vh;
	text-align: center;
}
.inner::before{
	content:"";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
}
.inner-content{
	color:#fff;
	display: inline-block;
	vertical-align: middle;
}
.inner-content h6{
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 51px;
	color: rgba(254, 254, 254, .9);
	text-transform: uppercase;
	margin-bottom: 97px;
}
.inner-content span{
	line-height: 38px;
	font-size: 19px;
	display: block;
	color: rgba(254, 254, 254, .2);
}
@media (max-width: 1190px){
	.inner{
		height: auto;
		padding: 200px 0;
	}
}
@media (max-width: 991px){
	.inner-content h6{
		font-size: 22px;
		margin-bottom: 15px;
	}
}
@media (max-width: 767px){
	.inner{
		padding: 50px 0;
	}
	.inner-content h6{
		font-size: 15px;
		margin-bottom: 15px;
	}
}

.arrow {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 36px;
}
.arrow::before{
	cursor: pointer;
	content:"";
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.arrow:hover{
	opacity: .75;
}
.arrow i.fa{
	position: absolute;
	font-size: 15px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	color: #222;
}
@media (max-width: 1190px){
	.arrow {
		bottom: -165px;		
		width: 25px;
		height: 25px;
	}
}
.inner-content h6{
	font-size: 30px;
	color: rgba(254, 254, 254, .9);
	text-transform: uppercase;
	letter-spacing: 1.7em;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 97px;
}
.inner-content span{
	font-size: 19px;
	font-family: 'open_sans', sans-serif;
	color: rgba(254, 254, 254, .2);
	display: block;
}
@media (max-width: 1199px){
	.inner{
		height: auto;
		padding-top: 200px;
		padding-bottom: 200px;
	}
}
@media (max-width: 991px){
	.inner-content h6{
		font-size: 22px;
		margin-bottom: 50px;
	}
}
.our-team{
	margin-top: 100px; 
}
.team-item-imag{
	position: relative;
}
.team-item-info{
	padding: 25px 5px 0;
} 
.team-item-info span{
	display: block;
	color: #777;
	text-transform: uppercase;
	letter-spacing: .4em;
}
.team-item-info span.tean-icon-name{
	font: 400 15px/1 'Dosis', sans-serif;
	margin-bottom: 12px;
}
.team-item-info span.tean-icon-role{
	font: 400 12px/1 'Dosis', sans-serif;
} 
.team-item-skills{
	opacity:0;
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	background-color: lightgray;
	transition: all .2s linear;
}
.team-item-imag:hover .team-item-skills{
	opacity: 1;
}
@media (max-width: 991px){
	.team-item-info {
		padding: 25px 5px 0;
		width: 100%;
	}
}
@media (max-width: 991px){
	.team-item-info span.tean-icon-name{
		font-size: 12px;
	}
	.team-item-info span.team-icon-role{
		font-size: 9px;
	}
}
/*TAB START*/
.nav-tabs>li{
	width: 20%;	
	text-align: center;
}
.nav-tabs,
.nav-tabs>li>a,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover{
	padding: 0;
	margin: 0;
	border: none;
	opacity: .6;
	background-color: transparent;
	color: #111;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover,
.nav-tabs>li.active>a:focus{
	opacity: 1
}
.nav-tabs li .tablist-title{
	display: block;
	font: 400 14px/1 'Dosis', sans-serif;
	letter-spacing: .4em;
	font-variant: small-caps;
	text-transform: uppercase;
	margin-top: 35px;
} 
.nav-tabs li .icon{
	font-size: 48px;
}
.tab-content .tab-pane{
	padding-top: 70px;
}
 @media (max-width: 991px){
 	.nav-tabs li .tablist-title{
		letter-spacing: .1em;
		margin-top: 22px;
	} 
	.tab-content .tab-pane{
		padding-top: 50px;
	}
 }

@media (max-width: 767px){
	 .nav-tabs li .icon {
		font-size: 34px;
	}
	.nav-tabs li .tablist-title {
    	font: 400 12px/1 'Dosis', sans-serif;
	}
}
/*TAB END*/ 
.lets-talk{
	background: url("../img/lets-talk-bg.jpg")no-repeat center / cover;
}
.lets-talk-content{
	margin: 140px 0;
}
.lets-talk-content .title{
	margin-bottom: 22px;
}
.lets-talk-content p{
	font-size: 15px;
	line-height: 1.73;
	color: rgba(255, 255, 255, .75);
	margin-bottom: 40px;
}
.lets-talk-img{
	margin-top: -32px;
}
.portfolio-content{
	margin: 0 auto;
	max-width: 765px;
}
.portfolio-content .text-section{
	color: #777;
}
.portfolio-tabs .nav-tabs{
	padding-top: 40px;
}
.box-section .col-md-2,
.box-section .col-md-3,
.box-section .col-md-4{
	padding: 0;
}
.box-section .row{
	margin: 0;
}
.box-section img{
	padding: 2px ;
}
.wrapper{
	margin: 0 -15px;
}
/* START PROJECT */
.start-project{
	background-color: #111;
}
.start-project .title{
	margin-top: 65px;
	margin-bottom: 20px;
}
.start-project .btn-default{
	margin-bottom: 70px;
}
/* START PROJECT END */
/*WHO CHOOSE US START */
.why-choose-us .title{
	margin-bottom: 85;
}
.icon span {
	display: block;
	font-size: 48px;
	text-align: center;
	margin-bottom: 35px;
}
.why-choose-us-info h6{
	display: block;
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	color: #111;
	margin-bottom: 35px;
	text-align: center;
}
.why-choose-us-info p{
	font-size: 14px;
	line-height: 26px;
	font-weight: 300;
	color: #777;
}
@media(max-width: 768px){
	.text-section .col-xs-12{
		margin-top: 30px;
	}
	.why-choose-us .title{
		margin-bottom: 0;
	}
	.why-choose-us-info h6 {
		font-size: 12px;
	}
	.icon span {
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
}
/*CAROUSEL START*/
.rewiews{
	background-color: #000;

}
.rewiews .carousel-caption {
    position: static;  /*отменили позишин абсолют*/
}
.rewiews .carousel-caption p{
	font-size: 18px;
	line-height: 1.6666;
	max-width: 750px;
	margin: 20px  auto 20px auto;
	color: rgba(255, 255, 255, .75);
}
.rewiews .carousel-caption > span{
	font-size: 11px;
	color: rgba(255, 255, 255, .3);
	text-transform: uppercase;
	letter-spacing: .2em;
}
.icon-wrap{
	text-align: center;
	margin-bottom: 20px;
}
.icon-wrap span{
	font-size: 32px;
}
.rewiews .carousel-caption .title{
	margin-bottom: 40px;
}

.carousel{
	position: relative;
}
.carousel-indicators{
	bottom: -85px;	
}
.carousel-indicators li{
	width: 9px;
	height: 9px;	
	background-color: rgba(255, 255, 255, .8);
	border: 2px solid transparent;

}
.carousel-indicators .active{
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, .8);
}
.carousel-control {
	background: none;
	opacity: 0;
	width: 85px;
	transition: opacity .1s linear, transform .3s linear;
	transform: translateX(-10px);
}
.carousel-control.right{
	transform: translateX(10px);
}
.carousel-control::before {
    content: '';
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: #fff;
    top: 50%;
    left: -50%;
    transform: translateY(-50%) rotate(45deg);
}
.carousel-control.right::before{
	left: auto;
	right: -50%;
}
.rewiews:hover .carousel-control{
	opacity: 1;
	transform: translateX(0);
}
.carousel-control i.fa{
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: #222;
}
.carousel-control.right i.fa{
	left: auto;
	right: 20%;
}
@media (max-width: 991px){
	.rewiews .carousel-caption p{
		max-width: 650px;
	}
	.carousel-indicators {
    	bottom: -60px;
	}
}
@media (max-width: 768px){
	.icon-wrap span {
		font-size: 20px;
	}
	.rewiews .carousel-caption p{
		font-size: 13px;
		max-width: 450px;
	}
	.rewiews:hover .carousel-control{
		display: none;
	}
	.carousel-indicators .active , 
	.carousel-indicators li{
		width: 15px;
		height: 15px;
	}
	.carousel-indicators {
    	bottom: -40px;
	}
}
/*CAROUSEL END*/
/* LATEST NEWS START */
.news-section img{
	margin-bottom: 30px;
}
.news-section .btn{
	margin-bottom: 30px;
}
.news-text h6{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #777;
	margin-bottom: 15px;
}
.news-text span{
	font-family: 'Dosis', sans-serif;
	font-size: 11px;
	letter-spacing: .4em;
	color: #999;
	text-transform: uppercase;
}
.news-text p{
	margin-top: 30px;
	color: #a2a2a2;
	font-size: 15px;
	line-height: 26px;
}
.news .title a{
	float: right;
	font-size: 11px;
	color: #999;
}
@media (max-width: 991px){
	.news-text{
		text-align: center;
	}
	.news-section .btn {
		float: right;
	}
}
/* LATEST NEWS END */
.subscribe input[name="userEmail"]{
	width: 293px;
}
@media (max-width: 767px){
	.subscribe input[name="userEmail"] {
		width: 100%;
		text-align: center;
	}
}
	
.subscribe .form-group{
	margin-right: 3px;
}
.contact-item-icon i{
	transform: rotate(-45deg);
}
.contact-us .contact-item {
     margin-bottom: 85px; 
}
.contact-item-name{
	display: block;
	color: rgba(119, 119, 119, .8);
	font-size: 12px;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: .4em;
}
.contact-item-text{
	font-size: 15px;
	line-height: 22px;
	color: rgba(68, 68, 68, .8);
}
.contact-item-icon{
	width: 25px;
	background-color: #000;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
	transform: rotate(45deg);
	margin: 10px 20px 0 0;
}
.contact-us form {
	margin: 0 -5px;
}
.form-col{
	width: 50%;
	padding: 0 5px;
	float: left;
}
.for-submit{
	clear: both;
}

@media (max-width: 767px){
	.contact-us .contact-item {
    	margin-bottom: 40px;
	}
	.contact-item-name{
		font-size: 10px;
		letter-spacing: .2em;
	}
	.contact-item-text{
		font-size: 13px;
	}
	.form-control{
		text-align: center;
		}
	.form-col{
		width: 100%;
		text-align: center;
		padding-bottom: 10px;
	}
}
.map{
	position: relative;
	overflow: hidden;
}
.map iframe{
	width:100%;
	height: 410px;
}
.on-map-block{
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	transition: all .3s linear;
}
.map:hover .on-map-block{
	transform: translateY(100%);
	opacity: 0;
}
.map-content {
	width:100%;
	position: absolute;
	top:50%;
	text-align: center;
	transform: translateY(-50%);
}
.map .font-icon::before{
	border: none;
}
.map .font-icon{
	margin-bottom: 25px;
}
.map-content span{
	display: block;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Dosis';
	letter-spacing: .3em;
	font-size: 16px;
}
/*MAIN STYLE END*/

/* FOOTER START */
.footer{
    text-align: center;
}
.footer-content img{
	margin-bottom: 35px;
} 
.footer .font-icon+.font-icon{
	margin-left: 10px;
}
.footer .font-icon::before,
.map .font-icon::before {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	transform: translateX(-50%) rotate(45deg);
}
.footer .font-icon i.fa,
.map .font-icon i.fa{
	color: #000;
}
.footer-icons{
	margin-bottom: 110px;
}
.footer-content h6{
	letter-spacing: 0.5em;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 24px;
	color: #111;
}
.footer-content h6 i{
	margin-right: 10px;
}
.footer-content{
	font-size: 11px;
	font-family: "Dosis";
	color: #999999;
	line-height: 24px;
}
@media(max-width: 767px){
	.footer-icons{
		margin-bottom: 40px;
	}
}
/* FOOTER END */